{% load staticfiles %}
<!DOCTYPE html> <html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/youtube_64.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_lib/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cate.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
    {% if not debug %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101956048-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = 'D1GMS';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
        g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
        g.consent=function(a){g("consent",!arguments.length||a)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
    })(window,document,window['_fs_namespace'],'script','user');
    </script>
    {% endif %}
  </head>
  {% block nav %}
  <div class="outside">
    <nav class="navbar is-transparent is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Channelshunt logo" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbar-channels">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar-channels" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/all/">
              Categories
            </a>
            <div class="navbar-dropdown is-boxed">
            </div> <!-- end navbar-dropdown -->
          </div> <!-- end navbar-item -->
        </div> <!-- end navbar-start -->
        <div class="navbar-end">
          <div class="navbar-item">
            <select id="select-cate" class="select-category" placeholder="Search">
            </select>
          </div>
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="is-info button" data-social-network="Twitter" data-social-action="tweet" target="_blank" href="https://twitter.com/channelshunt">
                  <span>
                    Twitter
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-mobile">
            <div class="column is-5">
              <img src="https://bulma.io/images/bulma-logo.png" alt="Channelshunt logo" width="112" height="28">
            </div>
            <div class="column is-7">
              <h1 class="title">
              Discover trending YouTube channels.
              </h1>
              <h2 id="youtube-count" class="subtitle">
              </h2>
            </div>
        </div>
      </div>
    </section>

  {% endblock %}

  {% block subscribe %}
    <div class="subscribe-form">
      <form class="pure-form pure-g" id="subscribe-form">
        <div class="pure-u-2-3 pure-u-md-2-3 subscribe-form-div">
        <fieldset>
            <legend id="sub-legend">Sorry, please re-submit your email to get new channels update.</legend>
            <input id="subscribe-email" class="pure-u-20-24 pure-u-md-10-24" placeholder="Email Address" type="email">
            <button type="button" id="subscribe-email-btn" class="pure-button pure-button-primary pure-u-2-3 pure-u-md-4-24">Subscribe</button>
            </div>
        </fieldset>
      </form>
    </div> <!-- end form-div -->
  </div> <!-- end sub_form -->
  <div class="on-github">
  </div>
  {% endblock %}
  </div> <!-- end outside -->
  

  {% block up_slider %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block slider-ad %}
  {% endblock %}
  
  {% block slider %}
  {% endblock %}
  
  {% block banner %}
  <div id="banner-div">
    <a id="all-categories-a" href="/all/"><img id="banner-img" src="{% static 'imgs/all.png' %}"/></a>
  </div>
  {% endblock %}

  {% block sub %}
  <div class="sub-form">
      <span class="highlight-h1"><h1>Add You Channel</h1></span>
      <form class="pure-form pure-g" id="recommend-form">
        <div class="pure-u-20-24 pure-u-md-1-2 form-div">
        <fieldset class="pure-group">
          <input type="text" id="channel-name" class="pure-input-1" placeholder="* Channel Display Name (Not Username)" required>
          <input type="text" id="channel-id" class="pure-input-1" placeholder="* Channel Id" required>
          <span id="pure-channel-id" class="pure-form-message"><a href="https://johnnythetank.github.io/youtube-channel-name-converter/">How to get my channel id?</a></span>
          <div class="pure-g select-add">
            <div class="pure-u-11-24">
              <label for="select-add-type"></label>
              <select id="select-add-type"></select>
            </div> <!-- end prue-u-1 -->
            <div class="pure-u-2-24"></div>
            <div class="pure-u-11-24">
              <label for="select-add-category"></label>
              <select id="select-add-category"></select>
            </div> <!-- end prue-u-1 -->
          </div> <!-- end pure-g -->
          <input type="email" id="channel-email" class="pure-input-1 sub-email" placeholder="* Your Email Address" required>
        </fieldset>
        <button type="button" class="sub-btn pure-button pure-input-1 pure-button-primary">Submit</button>
      </form>
    </div> <!-- end form-div -->
  </div> <!-- end sub_form -->
  <div class="on-github">
  </div>
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/js_lib/slick.min.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/cate.js' %}"></script>
  <script>
    $(document).ready(function(){
        get_channels_count();
        get_categories($(".navbar-dropdown"));
    });
  </script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  </body>
  {% block footer %}
  <footer>
    <div class="base-footer">
      <div class="pure-g footer-div">
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="mailto:contact@channelshunt.com?subject=Hello"><h4>Suggestions?</h4></a>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="/why/"><h4>Why Us?</h4></a>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="https://www.unicooo.com"><h4>© 2018 - Unicooo</h4></a>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}

</html>
