{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/css_lib/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/selectize.bootstrap3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/pure.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/pure.response.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cate.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
  </head>

  {% block nav %}
  <div class="outside">
    <div class="pure-g outside-div">
      <div class="pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2 youtube-header">
        <a class="header-a" href="/">
          <img id="youtube-img" src="{% static "imgs/youtube.png" %}"/>
        </a>
        <div>
          <span id="youtube-title">Best Youtube Classified</span>
        </div> <!-- end for humans -->
      </div> <!-- end youtube-header -->
    </div> <!-- end pure-g -->
    <div class="cate-search">
      <div class="pure-g search-cate-div">
        <div class="pure-u-1 pure-u-sm-21-24 pure-u-md-21-24 pure-u-lg-21-24 pure-u-xl-21-24 select-cate-div">
          <div class="control-group">
            <label for="select-cate"></label>
            <select id="select-cate" class="select-category" placeholder="Select a Category...">
            </select>
          </div> <!-- end control-group -->
        </div> <!-- end pure-u-1 -->
      </div> <!-- end pure-g -->
    </div> <!-- end cate-search -->
  </div> <!-- end outside -->
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block sub %}
  <div class="sub-form">
      <h1>Help us complate the channel list!</h1>
      <form class="pure-form pure-g" id="recommend-form">
        <div class="pure-u-1-2 pure-u-md-1-2 form-div">
        <fieldset class="pure-group">
          <input type="email" class="pure-input-1 sub-email" placeholder="* Your Email" required>
          <input type="text" class="pure-input-1 sub-text" placeholder="* Category e.g. Design or Science" required >
          <textarea class="pure-input-1 sub-textarea" required placeholder="* Channel name and your reason of recommendation.(The channel should have at least 100k subscribers.)"></textarea>
        </fieldset>
        <button type="button" class="sub-btn pure-button pure-input-1 pure-button-primary">Submit</button>
        <a target="_blank" href="https://github.com/Windsooon/awesome-youtube-category">Contrbute on Github</a>
      </form>
    </div> <!-- end form-div -->
  </div> <!-- end sub_form -->
  <div class="on-github">
  </div>
  {% endblock %}

  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/selectize.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/cate.js' %}"></script>
  <script>
  $(window).on('hashchange', function(e){
      if (document.location.hash) {
          $(".cate-content").empty();
          get_channel(document.location.hash.split("#")[1], $(".cate-content"));
      }
      else {
          if ($(".details-outside-div").length !=0 ) {
              $(".details-outside-div").remove() 
          }
          get_category("/api/outer/", $(".cate-content")); 
      }
  });
  </script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}
  </body>
  {% block footer %}
  <footer>
    <div class="base-footer">
      <div class="pure-g footer-div">
        <div class="pure-u-1-3 pure-u-md-1-3">
          <a href="mailto:wiwindson@outlook.com?subject=Hello"><p>Contact us</p></a>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <p>Thank you</p>
        </div>
        <div class="pure-u-1-3 pure-u-md-1-3">
          <p>© 2017 - Unicooo</p>
        </div>
      </div> <!-- end pure-g -->
    </div> <!-- end base-footer -->
  </footer>
  {% endblock %}

</html>
