{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}Best Youtube Classified{% endblock %}

{% block content %}
<div class="cate-content">
</div> <!-- end country-content -->
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ajaxStop(function() {
    // place code to be executed on completion of last outstanding ajax call here
        // check if anchor equel this subcategory
        var anchor = getAnchor(window.location.href);
        if (anchor) {
            anchor = anchor.replace(" ", "-");
            $('html, body').animate({
                scrollTop: ($(anchor).offset().top-160) }, "fast");
        }
    });
    $(document).ready(function() {
        if (window.location.href == window.location.origin + "/") {
            get_category("/api/outer/", $(".cate-content")); 
        }
        else if (window.location.href.split("/")[3] != "channel") {
            get_channel(window.location.href.split("/")[3], $(".cate-content"));
        }
    });
</script>
{% endblock %}
