{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/channel.css' %}" />
<link rel="stylesheet" href="{% static 'css/slider.css' %}" />
{% endblock %}
{% block title %} {{ title }} - Best Youtube Channels{% endblock %}

{% block meta %}
<meta name="Description" content="Discover best YouTube Channels about Movies, Music, Video, Reviews, Sports and Gaming." />
<meta property="og:description" content="Channelshunt help you find the most subscribed, biggest youtube channels." />
<meta itemprop="description" content="Channelshunt help you find the most subscribed, biggest youtube channels." />
<meta name="keywords" content="best youtube channels, awesome youtubers, best of youtube" />
{% endblock meta %}

{% block content %}
<div class="channel-header card">
  <div class="channel-pure">
    <div class="channel-header-pure">
      <div id="channel-header-outside" class="columns is-mobile">
        <div id="channel-header-img" class="lazyload column is-2 is-offset-2 is-hidden-mobile">
          <div id="channel-header-img-wrapper">
            <img id="channel-src" src="" />
          </div>
        </div> <!-- end channel-header-img -->
        <div id="channel-header-details" class="column is-6-tablet is-12-mobile">
          <div id="channel-header-details-wrapper">
            <div id="channel-header-title">
                <a target="_blank" class="channel-title-href" href="https://www.youtube.com/channel/{{ channel_id }}"><span id="channel-header-text"></span></a>
              <input id="channel-id-input" type=hidden value={{ channel_id }} />
            </div> <!-- end channel-header-title -->
            <div id="channel-header-sub">
              <span id="channel-sub-text"></span>
              <span id="channel-sub-img-span">
                <img id="channel-sub-img" src="{% static 'imgs/youtube_64.png' %}" />
              </span>
            </div> <!-- end channel-header-title -->
            <div id="channel-header-content">
              <span id="channel-header-content-span"></span>
              <div id="channel-time">
                <div class="field is-grouped">
                  <p class="control">
                    <a target="_blank" class="button is-info get-channel" href="https://www.youtube.com/channel/{{ channel_id }}">Browse</a>
                    <a class="button is-warning" href="#channel-comment">Suggestions</a>
                  </p>
                </div>
              </div>
            </div> <!-- end channel-header-content -->
          </div> <!-- end channel-header-details -->
        </div>
      </div> <!-- end channel-header-outside -->
      <div class="clear"></div>
    </div> <!-- end pure-u-1 -->
  </div> <!-- end pure-g -->
</div> <!-- end channel-header -->

<div class="channel-content container card">
  <div class="hostest-video">
    <div id="hostest-content-title">
      <img class="content-img-icon" src="{% static 'imgs/Rocket.png' %}" />
      <h1 id="hostest-content-title-text">Newest Videos</h1>
    </div>
    <div class="columns is-multiline hostest-content-g">
    </div> <!-- end channel-content-g -->
  </div> <!-- end hostest-video -->
  <div class="newest-video">
    <div id="newest-content-title">
      <img class="content-img-icon" src="{% static 'imgs/Like.png' %}" />
      <h1 id="newest-content-title-text">Hostest Videos</h1>
    </div>
    <div class="columns is-multiline newest-content-g">
    </div> <!-- end channel-content-g -->
  </div> <!-- end hostest-video -->
  <div id="comment-div">
  <span class="highlight-h1">
    <h1 id="channel-comment">What do you think about this channel?</h1>
  </span>
  </div>
  <div id="disqus_thread"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://channelshunt.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div> <!-- end channel-content -->
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'js/js_lib/moment.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/channel.js' %}"></script>
<script>
    channel_id = $("#channel-id-input").val();
    get_channel_details(channel_id);
    get_video_playlist("date", channel_id, $(".hostest-content-g"), "video");
    get_video_playlist("viewCount", channel_id, $(".newest-content-g"), "video");
</script>
{% endblock %}
