{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ sub }} - Best Youtube Channels{% endblock %} 

{% block meta %}
<meta name="Description" content="Discover Best {{ sub }} YouTube Channels." />
<meta property="og:description" content="Discover Best {{ sub }} YouTube channels." />
<meta itemprop="description" content="Channelshunt help you find the most subscribed, biggest youtube channels." />
<meta name="keywords" content="best {{ sub }} youtube channels, awesome {{ sub }} youtubers, best of youtube" />
{% endblock meta %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/css_lib/slick.css' %}" />
{% endblock %}
{% block content %}
<div class="slider-outside-div">
  <div class="slider-title">
    <div class="slider-wrapper">
      <div class="slider container slider-container">
        {% for i in "012" %}
        <div class="newest-div">
          <a id="newest-a-{{ i }}" class="newest-a" href="{{ host }}videos/{{ sub }}/"/>
            <div class="newest-inside-div">
              <div class="newest-thumbnail">
                <img id="newest-img-{{ i }}" class="newest-img" src=""/>
                <p id="newest-p-{{ i }}" class="newest-p"></p>
              </div> <!-- end channel-thumbnail -->
            </div> <!-- end channel-inside-div -->
          </a> <!-- end channel-inside-a -->
        </div> <!-- end newest-div -->
        {% endfor %}
      </div> <!-- end newest-responsive -->
      <a id="newest-videos-a" href="{{ host }}videos/{{ sub }}/"><span class="subtitle">Checkout newest videos about {{ sub }}</span></a>
    </div> <!-- end slider-wrapper -->
  </div> <!-- end slider-title -->
</div> <!-- end slider-outiside-div -->
<div class="cate-content container card">
  <div class="bread-div breadcrumb is-medium" aria-label="breadcrumbs">
    <ul>
      <li><a href="/all/">All</a></li>
      <li><a href="/category/{{ title }}/">{{ title }}</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ sub }}</a></li>
    </ul>
  </div>
  <div class="details-content columns is-multiline">
    <div class="slider-rs-wrapper column is-3 is-offset-1">
      <div class="slider responsive">
      {% for i in "012345" %}
      <div class="slider-rs-div">
        <a id="slider-rs-a-{{i}}" class="slider-rs-a" href="" ><img id="slider-rs-{{i}}"class="slider-rs-img" src="{% static 'imgs/ad.png' %}" /></a>
      </div>
      {% endfor %}
    </div> <!-- end slider-rs-wrapper -->
    <a id="show-a" href="mailto:contact@channelshunt.com?subject=Website/Book/Store?"><p>Show Your Product here?</p></a>
  </div> <!-- end details-content -->
  <div class="details-wrapper column is-8">
  </div> <!-- end details-wrapper -->
</div> <!-- end cate-content -->
{% endblock %}

{% block slider-ad %}

{% endblock %}

{% block slider %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/subcategory.js' %}"></script>
<script src="{% static 'js/js_lib/slick.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script>
    $(document).ready(function() {
        var sub = "{{ sub }}"
        get_channel(sub, $(".details-wrapper"));
        subscribe_email_click(sub);
        // update_slider(sub);
        slick_init(6, 1, true, $(".responsive"));
        slick_init(3, 1, false, $(".slider-container"));
        update_ad(sub);
    });
</script>
{% endblock %}
