{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}{{title}} - Best Youtube Channels{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="cate-content card">
  <nav class="columns is-multiline is-mobile">
  {% for inner in inner_set %}
    <div class="num-column has-text-centered column is-4-tablet is-6-mobile card">
      <a href="{{ host }}subcategory/{{ inner.name }}/">
        <p class="inner-title">{{ inner.name }}</p>
        <p class="heading">Channels Count</p>
        <p class="title">{{ inner.playlist.count }}</p>
      </a>
    </div>
  {% endfor %}
  </nav>
</div>
{% endblock %}

{% block slider %}
{% endblock %}

{% block sub %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_category("/api/inner/?category=" + title , $(".cate-content"), "/subcategory"); 
    });

</script>
{% endblock %}
