{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}Best {{ title }} YouTube Channels{% endblock %}

{% block meta %}
<meta name="Description" content="Discover Best {{ title }} YouTube Channels." />
<meta property="og:description" content="Discover Best {{ title }} YouTube channels." />
<meta itemprop="description" content="Channelshunt help you find the most subscribed, biggest youtube channels." />
<meta name="keywords" content="best {{ title }} youtube channels, awesome {{ title }} youtubers, best of youtube" />
{% endblock meta %}

{% block content %}
<div class="cate-content card container">
  <div class="bread-div breadcrumb is-medium" aria-label="breadcrumbs">
    <ul>
      <li><a href="/all/">All</a></li>
      <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
    </ul>
  </div>
  <nav class="columns is-multiline is-mobile">
  {% for object in object_set %}
    <div class="num-column has-text-centered column is-4-tablet is-6-mobile card">
        {% if title == 'All Categories' %}
          <a href="{{ host }}category/{{ object.name }}/">
          <p class="inner-title">{{ object.name }}</p>
          <p class="heading">Subcategories Count</p>
          <p class="title">{{ object.inner.count }}</p>
        {% else %}
          <a href="{{ host }}category/{{ title }}/{{ object.name }}/">
          <p class="inner-title">{{ object.name }}</p>
          <p class="heading">Channels Count</p>
          <p class="title">{{ object.playlist.count }}</p>
        {% endif %}

      </a>
    </div>
  {% endfor %}
  </nav>
</div>
{% endblock %}

{% block slider %}
{% endblock %}

{% block sub %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}
