{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }} - Best Youtube Channels{% endblock %} 
{% block content %}
<div class="slider-outside-div">
  <div class="slider-title">
    <img class="details-title-img" src="{% static 'imgs/tv.png' %}" />
    <h2 class="details-title-span"></h2>
    <div class="slider-wrapper">
      <div class="slider newest-responsive">
        {% for i in "012" %}
        <div class="newest-div">
          <a id="newest-a-{{ i }}" class="newest-a" href="../../videos/{{ title }}/"/>
            <div class="newest-inside-div">
              <div class="newest-thumbnail">
                <img id="newest-img-{{ i }}" class="newest-img" src="{% static 'imgs/img_holder.png' %}"/>
              </div> <!-- end channel-thumbnail -->
            </div> <!-- end channel-inside-div -->
          </a> <!-- end channel-inside-a -->
        </div> <!-- end newest-div -->
        {% endfor %}
      </div> <!-- end newest-responsive -->
      <a id="newest-videos-a" href="../../videos/{{ title }}/"><span id="newest-videos-span">Newest Videos Under {{ title }}</span></a>
    </div> <!-- end slider-wrapper -->
  </div> <!-- end slider-title -->
</div> <!-- end slider-outiside-div -->
<div class="cate-content">
  <div class="pure-g details-outside-div">
    <div class="pure-u-1 pure-u-md-1-1 pure-u-sm-1-1 details-div">
    </div> <!--end details-div -->
  </div> <!-- end details-outside-div -->
</div> <!-- end cate-content -->
{% endblock %}

{% block slider-ad %}
<div class="slider-ad-wrapper">
  <div class="slider-ad-title">
    <h2>Suggested Websites</h2>
  </div>
  <div class="slider responsive">
    {% for i in "012" %}
    <div class="slider-ad-div">
        <a href="" ><img class="slider-ad-img" src="{% static 'imgs/ad.png' %}" /></a>
    </div>
    {% endfor %}
  </div>
  <div class="slider-ad-footer">
    <a href="mailto:contact@channelshunt.com?subject=Website/Book/Store?"><p>Add Resources?</p></a>
  </div>
</div>
{% endblock %}

{% block slider %}
<div class="you-may-like slider-outside-div">
  <div class="slider responsive">
    {% for i in "012" %}
    <div class="slider-div">
      <div class="slider-h3">
        <a class="slider-a" href=""><h2 class="slider-h2"></h2></a>
      </div>
    </div> <!-- end slider-div -->
    {% endfor %} 
    </div> <!-- end slider-div -->
  </div> <!-- end slider responsive -->
</div> <!-- end slider-outside-div -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/subcategory.js' %}"></script>
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_channel(title , $(".details-div")); 
        update_sub(title);
        subscribe_email_click(title);
        update_slider(title);
        slick_init();
        slick_init(3, 2, $(".newest-responsive"));
    });
</script>
{% endblock %}
