{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }} - Best Youtube Channels{% endblock %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/css_lib/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/css_lib/slick.css' %}" />
{% endblock %}
{% block content %}
<div class="slider-outside-div">
  <div class="slider-title">
    <div class="slider-wrapper">
      <div class="slider newest-responsive">
        {% for i in "012" %}
        <div class="newest-div">
          <a id="newest-a-{{ i }}" class="newest-a" href="../../videos/{{ title }}/"/>
            <div class="newest-inside-div">
              <div class="newest-thumbnail">
                <img id="newest-img-{{ i }}" class="newest-img" src="{% static 'imgs/img_holder.jpg' %}"/>
              </div> <!-- end channel-thumbnail -->
            </div> <!-- end channel-inside-div -->
          </a> <!-- end channel-inside-a -->
        </div> <!-- end newest-div -->
        {% endfor %}
      </div> <!-- end newest-responsive -->
      <a id="newest-videos-a" href="../../videos/{{ title }}/"><span class="subtitle">Newest Videos In {{ title }}</span></a>
    </div> <!-- end slider-wrapper -->
  </div> <!-- end slider-title -->
</div> <!-- end slider-outiside-div -->
<div class="cate-content container">
  <div class="columns details-outside-div">
    <div class="details-div">
    </div> <!--end details-div -->
  </div> <!-- end details-outside-div -->
</div> <!-- end cate-content -->
{% endblock %}

{% block slider-ad %}
<div class="slider-rs-wrapper container">
  <div class="slider responsive">
    {% for i in "012345" %}
    <div class="slider-rs-div">
        <a id="slider-rs-a-{{i}}" class="slider-rs-a" href="" ><img id="slider-rs-{{i}}"class="slider-rs-img" src="{% static 'imgs/ad.png' %}" /></a>
    </div>
    {% endfor %}
  </div>
  <div class="slider-rs-footer">
    <a href="mailto:contact@channelshunt.com?subject=Website/Book/Store?"><p>Show your Product here?</p></a>
  </div>
</div>
{% endblock %}

{% block slider %}
<div class="you-may-like slider-outside-div">
  <div class="slider responsive">
    {% for i in "012" %}
    <div class="slider-div">
      <div class="slider-h3">
        <a class="slider-a" href=""><h2 class="slider-h2"></h2></a>
      </div>
    </div> <!-- end slider-div -->
    {% endfor %} 
    </div> <!-- end slider-div -->
  </div> <!-- end slider responsive -->
</div> <!-- end slider-outside-div -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/subcategory.js' %}"></script>
<script src="{% static 'js/js_lib/slick.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_channel(title , $(".details-div")); 
        update_sub(title);
        subscribe_email_click(title);
        update_slider(title);
        slick_init();
        slick_init(3, 2, $(".newest-responsive"));
        update_ad(title);
    });
</script>
{% endblock %}
