{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
<meta name="Description" content="Discover Best {{ title }} YouTube Channels." />
<meta property="og:description" content="Discover Best {{ title }} YouTube channels." />
<meta itemprop="description" content="Channelshunt help you find the most subscribed, biggest youtube channels." />
<meta name="keywords" content="best {{ title }} youtube channels, awesome {{ title }} youtubers, best of youtube" />
{% endblock meta %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/videos.css' %}" />
<link rel="stylesheet" href="{% static 'css/channel.css' %}" />
{% endblock %}
{% block title %} Newest Videos under {{ title }} - Best Youtube Channels{% endblock %}
{% block subscribe %}
{% endblock %}
{% block content %}
<div class="videos-content">
    <div class="videos-outside-div">
      <div class="videos-inside-div container">
        <div class="videos-list-div columns is-multiline">
        </div> <!-- end video-list-div -->
    </div> <!-- end video-inside-div -->
  </div> <!-- end video-outside-div -->
</div> <!-- end video-content -->

{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/js_lib/moment.js' %}"></script>
<script src="{% static 'js/channel.js' %}"></script>
<script src="{% static 'js/videos.js' %}"></script>
<script>
    $(document).ready(function() {
        var title = "{{title}}"
        get_channel(title , $(".videos-list-div"), get_newest_videos); 
    });
</script>
{% endblock %}

