{% extends "base.html" %}
{% load staticfiles %}
{% block extra_styles %}
{% endblock %}
{% block title %}{{title}} - Best Youtube Classified{% endblock %}

{% block subscribe %}
{% endblock %}

{% block content %}
<div class="why-us">
  <div class="pure-g why-outside-div">
    <div class="pure-u-20-24 pure-md-20-24 why-inside-div">
      <h1>Why Us?</h1>
      <p>  Youtube is awesome, There are more than 500 million fun and intersting channels waiting for discovery. But as the channels number group, we are facing a problem. New channel is harder to standout and it's hard to find channels users may intersted. How to find the basketball channels in Youtube, you can't. Instead of search online from blogers, We can get new channel by sharing our loved channels.<br>
        If you are new to youtube, confusing what channels should subscribe, you can search your intersts here. If you are a youtube lover, you can share your most loved channels to others with same intersts. <br>
        By carefully choose the trending categroy(you should add some if you have any idea), and the trending channels, new and intersting channel for users. We could make life easier.</p>
    </div> <!-- end pure-u-1-1 -->
  </div> <!-- end pure-g -->
</div> <!-- end why-us -->
{% endblock %}

{% block slider %}
{% endblock %}

{% block slider_scripts %}
{% endblock %}

{% block extra_scripts %}
<script>
</script>
{% endblock %}
