.cate-search {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.cate-content {
    margin-bottom: 40px;
}

.cate-block-a {
    display: block;
    margin: 20px;
}

.select-cate-div {
    margin: 0 auto;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: text;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    line-height: 40px;
}


.cate-img {
    max-width:100%;
}

.cate-wrapper-span {
    margin-top: 5px;
    text-align: center;
}

.cate-block {
    text-align: center;
}

.cate-block-outside {
    border-radius: 10px;
    box-shadow: 0px 3px 0px rgba(170,170,170,0.1);
    cursor: pointer;
    background-color: white;
}

.cate-block-outside:hover{
    box-shadow: 0px 5px 3px #e2e2e2;
}

.cate-span {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.8vw;
}

.cate-block-inside {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cate-block-pure {
    width: 90%;
    margin: 0 auto;
}

.details-outside-div {
    width: 90%;
    margin: 0 auto;
}

.details-title {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.details-div {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}

.channel-img {
    max-width: 100%;
    border-radius: 50%;
}

.channel-indide-div {
    border-radius: 5px;
}

.channel-indide-a:hover {
    box-shadow: 0px 5px 3px #e2e2e2;
}

.channel-name {
    font-size: 30px;
    font-weight: bold;
}

.channel-content-span {
    font-size: 16px;
    word-break: break-all; 
    color: grey;
}

.channel-title, .channel-content {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.channel-div {
    text-align: center;
    margin-bottom: 50px;
}

.channel-indide-a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    box-shadow: 0px 3px 4px rgba(170,170,170,0.1);
}

.channel-details-inside {
    margin-left: 20px;
    margin-bottom: 20px;
}

.channel-thumbnail_inside {
    margin: 15px;
}

@media only screen and (max-width: 768px) {
    .channel-thumbnail_inside {
        margin-bottom: 20px;
    }
    .channel-img {
        display: block; 
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .cate-wrapper-span {
        margin-top: 10px; 
    }
    .cate-span {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 768px) {
    .cate-wrapper-span {
        margin-top: 10px; 
    }
    .cate-span {
        font-size: 6vw;
    }

}

.details-title-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.channel-details {
    padding-top: 5px;
}

.details-title-a {
    display: inline-block;
}
